!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %title Allpino
    %link{:href => "css/materialize.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/

    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/

    - if @owl_css
      - @owl_css.each do |css|
        = "<link href=\"/#{css}\" rel='stylesheet' type='text/css'>"
    - if @photo_swipe_css
      - @photo_swipe_css.each do |css|
        = "<link href=\"/#{css}\" rel='stylesheet'>"
  %body
    
    %nav
      .nav-wrapper
        %a.brand-logo{:href => "/"} Allpino
        %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
          %i.mdi-navigation-menu
        %ul.right.hide-on-med-and-down
          %li
            %a{:href => "proyectos"} Proyectos
          %li
            %a{:href => "#"} Pasto Artificial
          %li
            %a{:href => "#"} Pasto Artificial
        %ul#mobile-demo.side-nav
          %li
            %a{:href => "proyectos"} Proyectos
          %li
            %a{:href => "#"} Pasto Artificial
          %li
            %a{:href => "#"} Pasto Artificial
    
    .row{style: "margin-bottom: 0px;"}
      .col.s12
        .card.white.darken-1
          .card-content.black-text
            %span.card-title 
              %h1.black-text
                Madereria y Construcciones Allpino 
          .card-action
            %a{:href => "#"} Obra publica
            %a{:href => "#"} Pasto artificial
            %a{:href => "#"} Velarias
    


    = yield

    %footer.page-footer
      .container
        .row
          .col.s12.m4.l6
            %h5.white-text Contacto
            %row
              %form.col.s12
                .row
                  .input-field.col.s12
                    %i.mdi-action-account-circle.prefix
                    %input#email.validate{:type => "email"}/
                    %label{:for => "email"} Email
                .row
                  .input-field.col.s12
                    %i.mdi-editor-mode-edit.prefix
                    %textarea#textarea1.materialize-textarea
                    %label{:for => "textarea1"} Textarea

                .row
                  %button.btn.waves-effect.waves-light{:name => "action", :type => "submit"}
                    Submit
                    %i.mdi-content-send.right
                

          .col.s12.m6.l3
            %h5.white-text Links
            %ul
              %li
                %a.grey-text.text-lighten-3{:href => "#!"} Facebook
              %li
                %a.grey-text.text-lighten-3{:href => "#!"} Pasto 
              %li
                %a.grey-text.text-lighten-3{:href => "#!"} Correo
              %li
                %a.grey-text.text-lighten-3{:href => "#!"} Link 4
          .col.s12.m6.l3
            %h5.white-text Links
            %ul
              %li
                %a.grey-text.text-lighten-3{:href => "#!"} Facebook
             
      .footer-copyright
        .container
          © 2014 Copyright Text
          %a.grey-text.text-lighten-4.right{:href => "#!"} Develop by Diego Llamas

    %script{:type=>"text/javascript", :src=>"https://code.jquery.com/jquery-2.1.1.min.js"}
    %script{:src => "js/materialize.min.js", :type => "text/javascript"}
    :javascript
      $(document).ready( function() {

         $('.button-collapse').sideNav({menuWidth: 240, activationWidth: 70});
      } );

    = "<script src=\"/#{@owl_js}\"></script>" if @owl_js
    - if @photo_swipe_js
      - @photo_swipe_js.each do |js|
        = "<script src=\"/#{@js}\" type='text/javascript'></script>" 
